/* Basic button */
.basic-btn {
    width: 7% !important;
    height: 35px;
    border-radius: 16px;
    background: #0b3b5a;
    color: var(--cta-blue);
    font-weight: 700;
    font-size: 14px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 18px rgba(59, 34, 34, 0.18);
    margin-top: 6px;
}

.basic-btn:active {
    transform: translateY(1px);
}


.page-header {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: none;
}

.page-footer {
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: none;
}

.back-arrow {
    width: 7%;
    padding: 4px;
    padding-right: 8px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 16px;
    border: none;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 4px rgba(59, 34, 34, 0.18);
}

.back-arrow:active {
    transform: translateY(1px);
}

.navbar-button {
    height: 57px;
    padding: 4px;
    font-weight: 700;
    font-size: 12px !important;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: var(--bg-top);
    color: white;
}

.navbar-button:hover {
    background-color: white;
    color: black;
}

.navbar-button:active {
    transform: translateY(1px);
}

.navbar-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.navbar-middle {
    border-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.navbar-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}