/* Basic button */
.basic-btn {
    width: 25%;
    height: 35px;
    border-radius: 16px;
    background: #0b3b5a;
    color: var(--cta-blue);
    font-weight: 700;
    font-size: 14px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 18px rgba(59, 34, 34, 0.18);
    margin-top: 6px;
}

.basic-btn:active {
    transform: translateY(1px);
}


.page-header {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: none;
}

.page-footer {
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: none;
}

.back-arrow {
    padding: 4px;
    padding-right: 8px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 16px;
    border: none;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 4px rgba(59, 34, 34, 0.18);
}